
body{
    background-color: #24211f;
    max-width: 100%;
}

main{
    color: white ;
    font-family: "Arial";
}

.navbar {
    overflow: hidden;
    top: 0;
    font-size: 1.2vw;
}

.navbar a {
    float: left;
    display: block;
    color: gainsboro;
    text-align: center;
    padding-top: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    text-decoration: none;
}
  
.navbar a.right {
    float: right;
}
