
body{
	background-image: url("../img/Statisch/Himmelsstudie dunkel Frontbild.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#TitleDiv{
	position: absolute;
	
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 4vw;

	text-align: center;
	font-size: 4vw;
	word-spacing: 0.5em;
}

#SubTitleDiv{
	position: absolute;
	float: left;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 30%;

	padding: 5%;

	text-align: center;
	font-size: 2vw;
	word-spacing: 0.5em;
}

#LinksDiv a{
	color: white ;
	text-decoration: none;

	padding: 5%;
	text-align: center;
	font-size: 2vw;

	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

#LinksDiv #VI{
	position: absolute;
	bottom: 4vw;
	left: 15vw;
}

#LinksDiv #T{
	position: absolute;
	bottom: 4vw;
	left: 40vw;
}

#LinksDiv #M{
	position: absolute;
	bottom: 4vw;
	right: 15vw;
}

#LinksDiv a:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
