
:root{
	--heigth: 1;
	--width: 1;
}

h1{
	font-size: 100;
	position: absolute;
	top: 5%;
	left: 40%;
}

h2{
	font-size: 70;
	position: absolute;
}

.ÖlBild{
	position: absolute;
	top: 30%;
	left: 20%;
}

.AquarellBild{
	position: absolute;
	top: 30%;
	left: 40%;
}

.ZeichnungenBild{
	position: absolute;
	top: 30%;
	left: 60%;
}

.ÖlHeader{
	position: absolute;
	top: 65%;
	left: 25%;
}

.AquarellHeader{
	position: absolute;
	top: 65%;
	left: 40%;
}

.ZeichnungenHeader{
	position: absolute;
	top: 65%;
	left: 60%;
}

#startAnsicht img {
	/* SCALE */
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	/* VERZÖGERUNG */
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
#startAnsicht img:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}