
.navbar a{
    color: black;
    overflow: visible;
}

body{
	background-image: url("../img/Statisch/Impressumshintergrund Heller Himmel.png");
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
}

#startAnsicht{
	position: static;
    display: flex;

    color: black;
    padding-top: 7vw;
}

#startAnsicht p{
    font-size: 1.3vw;
}

#startAnsicht h1{
    font-size: 2vw;
}

.Vita{
    margin-left: 10vw;
}

#VitaPic{
    position: absolute;
    height: 10vw;
    margin-top: 1.6vw;
    margin-left: 15vw;
}

.Ausstellungen{
    margin-left: 16vw;
}

.Rest{
    margin-left: 16vw;
}

.Rest div{
    margin-bottom: 10vw;
}